@model StudentMvc.ViewModels.StudentDetailsViewModel
<body>
    <h1>@Model.Title</h1>
    <div>
        <div>
            Name: @Model.Student.Name
        </div>
        <div>
            Email: @Model.Student.Email
        </div>
        <div>
            Department: @Model.Student.Department
        </div>
        </div>
</body>
</html>