
<body>
    <h1>@ViewBag.Title</h1>
    <div>
        <div>
            Name: @ViewBag.Student.Name
        </div>
        <div>
            Email: @ViewBag.Student.Email
        </div>
        <div>
            Department: @ViewBag.Student.Department
        </div>
        </div>
</body>
</html>