@model IEnumerable<Student>
@{
    ViewData["Title"] = "Student List";
}

<div class="text-center">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Name</th>
                    <th>@item.Email</th>
                    <th>@item.Department</th>
                </tr>  
            }
        </tbody>
    </table>
</div>    

